[Unit]
Description=Check Internet Connectivity and Restart wifiup if needed
After=wifiup.service

[Service]
ExecStart=/home/linaro/wificheck.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
